.filter_mobile {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;

  .filter_mobile-wrap {
    display: grid;
    grid-template-columns: [start] 1fr [search] 1fr [filter] 1fr [end];
    grid-template-rows: repeat(2, fit-content(100%));
    grid-row-gap: 10px;
    align-items: center;
  }


  .search {
    grid-column: start / end;

    .search_form {
      display: flex;
      height: 100%;
      align-items: stretch;

      .search_input {
        width: 100%;
      }

      button {
        height: 100%;
      }
    }
  }

  .sort_by {
    display: flex;
    grid-column: start / search;
    align-items: center;

    .select_block {
      width: 100px;
    }

    .fas[class *='fa-sort'] {
      font-size: 2em;
    }
  }

  .button-filter {
    grid-column: filter / end;
    justify-self: flex-end;
  }


  .select_div {
    position: relative;
    display: flex;
    align-items: center;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;

    select {
      display: inline-block;
      text-align: center;
      width: fit-content;
      background-color: transparent;
      border: none;
      -webkit-appearance: none;
      position: relative;
      height: 16px;
      line-height: 1;

      &:focus {
        outline: none;
      }
    }

    .icon-arrows {
      background-image: url('/icons/arrows.svg');
      display: inline-block;
      width: 16px;
      height: 16px;
      background-position: 50%;
    }
  }

  .button-filter {
    display: flex;
    align-items: center;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    justify-content: flex-end;
    height: 16px;
    line-height: 1;
    width: 150px;

    .icon-filter {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-position: 50%;
      background-image: url('/icons/filter.svg');
    }
  }

}

.filter_desktop {
  padding: 20px 0;
}

.filter-desktop-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  align-items: center;

  > * {
    max-width: 300px;
  }

  .toggle_private,
  .sort_by,
  .country_filter {
    width: 150px;
  }

  .search {
    width: 100%;
    justify-self: center;
  }

  .search,
  .sort_by {
    justify-self: flex-start;
  }

  .toggle_private {
    justify-self: flex-end;
  }

  .country_filter {
    justify-self: flex-end;
  }

}
