.grey-button {
  width: 40px;
  height: 40px;
  font-size: 24px;
}

.q-icon {
  font-size: 1.5rem;
}

.post_details {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 20px;
    grid-template-areas:
    'top top social_block social_block chart_block chart_block'
    'video_block video_block user_block user_block chart_block chart_block'
    'video_block video_block music_block music_block chart_block chart_block'
    'daily_block daily_block daily_block hourly_block hourly_block hourly_block';
  }
}

.top {
  grid-area: top;

  .post_title {

  }
}

.heading {
  margin-bottom: 10px;

  h2 {
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.video_block {
  grid-area: video_block;

  .video_frame {
    width: 110px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
  }

  .video_data {
    width: 170px;

    > p {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

.user_block {
  display: grid;
  grid-area: user_block;
  grid-template-columns: repeat(4, fit-content(100%));
  grid-column-gap: 10px;
  margin-bottom: 10px;

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }

  .user_avatar {
    width: 40px;
  }
}

.music_block {
  display: grid;
  grid-area: music_block;
  grid-template-columns: repeat(4, fit-content(100%));
  grid-column-gap: 10px;
  height: fit-content;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }

  .music_title {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    img {

    }
  }

  .music_frame {
    width: 40px;
    margin-right: 10px;
  }
}

.social_block {
  grid-area: social_block;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    margin-bottom: 0;
  }

  .fas {
    font-size: 1.5rem;
  }

  .value {
    font-size: 0.75rem;
  }

  .index {
    font-size: 0.75rem;
    font-weight: bold;

    & + .value {
      font-weight: bold;
    }
  }

  .social_item {
    margin-right: max(1vw, 20px);

    &:last-child {
      margin-right: 0;
    }
  }
}

.daily_block {
  display: grid;
  grid-area: daily_block;
  margin-top: 20px;

  .heading {
    display: grid;
    grid-template-columns: fit-content(100%) auto fit-content(100%);
    align-items: center;
    margin-bottom: 0;
    width: 50%;
  }
}

.hourly_block {
  display: grid;
  grid-area: hourly_block;
  margin-top: 20px;

  .heading {
    display: grid;
    grid-template-columns: fit-content(100%) auto;
    align-items: center;
    margin-bottom: 0;
  }
}

.chart_block {
  grid-area: chart_block;
}
