.video {

  &_post_mobile {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px 0;
    display: grid;
    grid-template-columns: 80px fit-content(100%) 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
      'title title title title title'
      'video_block tiktok_buttons social_block social_block social_block'
      'video_block tiktok_buttons user_block user_block user_block'
      'video_block tiktok_buttons music_block music_block music_block';
  }


  &_block {
    grid-area: video_block;
    width: 80px;
    height: 110px;
    position: relative;

    a {
      width: inherit;
      height: inherit;
    }
  }

  &_frame {
    display: block;

    img {
      object-fit: cover;
      width: inherit;
      height: inherit;
    }
  }

  &_added {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    padding: 4px 0;

    .time,
    .ago {
      line-height: 1;
    }

    .time {
      margin-bottom: 4px;
    }

    .fa-clock {
      font-size: 10px;
      margin-right: 4px;
    }
  }
}

.post_title {
  grid-area: title;
  font-size: 16px;
}

.tiktok_buttons {
  display: flex;
  flex-direction: column;
  grid-area: tiktok_buttons;
  align-self: flex-end;

  .fa-user {
    margin: 10px 0;
  }
}


.grey-button {
  width: 30px;
  height: 30px;

  &.fa-play {
    margin-left: 10px;
  }
}

.social {
  &_block {
    grid-area: social_block;
  }

  &_item {
    > * {
      color: #999;
    }

    span {
      font-size: 12px;
    }

    &.middle {
      margin: 0 10px;
    }
  }
}

.user {
  &_block {
    grid-area: user_block;
  }

  &_avatar {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  &_name {

  }

}

.music {

  &_block {
    grid-area: music_block;
  }

  &_frame {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

}

.chart_block {
  grid-area: chart_block;
}

.video_post_desktop {
  display: grid;
  grid-template-areas: 'video_block title user_block music_block chart_block social_block';
  grid-template-columns: repeat(2, fit-content(100%)) 200px 160px repeat(2, fit-content(100%));
  align-items: flex-start;
  grid-column-gap: 10px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;

  .video_block {
    display: grid;
    grid-template-columns: fit-content(100%) 80px;
    grid-column-gap: 10px;
    position: static;
    height: fit-content;
    width: auto;

    .fa-tiktok {
      width: 30px;
    }

    .video_frame {
      height: 60px;
      position: relative;
    }

    .video_added {
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .fa-clock,
      .time,
      .ago {
        font-size: 9px;
      }

      .time {
        margin-bottom: 0;
        margin-right: 4px;
      }
    }
  }

  .post_title {
    width: 120px;
    font-size: 12px;
    line-height: 1.2;

    a {
      color: #000;
    }
  }

  .user_block {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    grid-column-gap: 10px;

    .user_avatar {
      margin-right: 0;
    }

    .user_name {
      font-size: 12px;
    }
  }

  .music_block {
    display: grid;
    grid-template-columns: repeat(3, fit-content(100%));
    grid-template-rows: repeat(2, fit-content(100%));
    grid-gap: 10px;

    .music_frame {
      margin-right: 0;
    }

    .fa-play {
      margin-left: 0;
    }
  }

  .chart_block {
    canvas {
      width: 120px;
    }
  }

  .social_block {
    display: grid;
    grid-template-columns: repeat(6, 36px);
    grid-column-gap: 10px;

    .social_item {
      margin: 0 !important;

      span {
        font-size: 10px;
        color: #000;
      }
    }
  }

}
