.grey-button {
  width: 40px;
  height: 40px;
  font-size: 24px;
}

.q-icon{
  font-size: 1.5rem;
}

.post_details {
  padding-top: 10px;
  padding-bottom: 10px;
}

.top {
  .post_title {

  }
}

.heading {
  margin-bottom: 10px;

  h2 {
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.video_block {

  .video_frame {
    width: 110px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 20px;
  }

  .video_data {
    width: 170px;

    > p {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      line-height: 1.2;
    }
  }
}

.user_block {
  display: grid;
  grid-template-columns: repeat(4, fit-content(100%));
  grid-column-gap: 10px;
  margin-bottom: 10px;

  .user_avatar {
    width: 40px;
  }
}

.music_block {
  display: grid;
  grid-template-columns: repeat(4, fit-content(100%));
  grid-column-gap: 10px;
  height: fit-content;
  margin-bottom: 30px;

  .music_title {
    display: flex;
    align-items: center;
    margin-bottom: 0;

    img {

    }
  }

  .music_frame {
    width: 40px;
    margin-right: 10px;
  }
}

.social_block {
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;

  .fas {
    font-size: 1.5rem;
  }

  .value {
    font-size: 0.75rem;
  }

  .index {
    font-size: 0.75rem;
    font-weight: bold;

    & + .value {
      font-weight: bold;
    }
  }
}

.stats{
  .heading{
    display: grid;
    grid-template-columns: fit-content(100%) auto fit-content(100%);
    align-items: center;
  }
}
